* {
  margin: 0;
}

body {
  background-color: #1a1a1a;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;

}

.nav {
  margin: 2vh 12vh 0vh;
  width: 80%;
  height: 8vh;
  border-radius: 20px;
  padding: 0px 25px 0px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 11;
}

.logo {
  color: red;
}

.list {
  display: flex;
}

.logo {
  font-size: 25px;
  font-weight: bolder;
}

.list>li {
  list-style: none;
  margin-left: 45px;
}

.list>li>a {
  color: white;
  text-decoration: none;
}

.list>li>a:hover {
  padding: 8px;
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  border-radius: 6px;
  font-weight: bold;
}

#menuOpen,
#menuClose {
  display: none;
}

.hero {
  color: grey;
  padding: 80px 40px;
  background: linear-gradient(to right, #000, #8b0000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.left>h1 {
  margin-bottom: 30px;
}

.right>img {
  position: relative;
  top: -50px;
  left: -20px;
  height: 750px;
  mix-blend-mode: multiply;

}

.join {
  margin-top: 25px;
  padding: 12px 30px 12px;
  border-radius: 20px;
  background-color: #8b0000;
}

.join:hover {
  transform: translateY(9px);
}
.join>a{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration:none;
}
.Sc {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  color: gray;
  font-weight: bolder;
}

.box1 {
  width: 95%;
  color: gray;
  background: linear-gradient(to right, #8b0000, #000);
  height: 40vh;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.anime {
  animation: slideIn 3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.box1 {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  margin-bottom: 45px;
}

.Wleft {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.Wleft>img {
  width: 360px;
  height: 100%;
  object-fit: contain;
}

.Wright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.para {
  color: gray;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

.card {
  color: #fff;
  margin: 30px auto 0px;
  border: 2px solid red;
  border: none;
  background: linear-gradient(135deg, #000000, #7a0000);
  border-radius: 10px;
  width: 90%;
  height: 10vh;
}

.cline {
  padding: 5px;
  color: grey;
  text-align: center;
}

.program-card {
  transition: 0.3s;
  border-top: 4px solid #7a0000;
}

.program-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* achievement */

.sliderphoto {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
} 

.frame {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  margin: 0 30px;
  border-radius: 16px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, .5);
}

.slider {
  display: flex;
  transition: transform 2s ease-in-out;
}

.image {
  width: 900px;
  flex-shrink: 0;
  object-fit: cover;
}

/* DOTS */
.dots {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.dots span {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dots span.active {
  background: #7a0000;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0px;
  padding: 15px 30px 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #8b0000;
  color: white;
}

.more:hover {
  transform: translateY(9px);
}

.coach-section {
  width: 95%;
  height: auto;
  min-height: 90vh;
  border: 2px solid black;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  margin: 25px auto 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}

.photointro {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.coachphoto {
  border-radius: 16px;
}

.intro {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
  height: auto;
  border-radius: 16px;
  background: linear-gradient(to left, #8b0000, #000);
  padding: 40px;
  color: gray;
  font-size: 18px;
}

.t {
  text-align: center;
  font-size: 18px;
  color: gray;
  font-weight: bold;
}



/* ramnager team */

.kslider-container {
  width: 100%;
  max-width: 950px;
  position: relative;
  margin: 45px auto 45px;
}

.kslider-frame {
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 16px;
}

.kslider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.kslide {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 16px;
}

/* arrows */
.karrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 40px;
  padding: 10px 18px;
  cursor: pointer;
  z-index: 10;
}

.kleft {
  left: 10px;
}

.kright {
  right: 10px;
}

.karrow:hover {
  background: black;
}

/* activity */
.activity{
  margin:20px auto 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap:60px;
}
.one,.two{
  padding:20px 40px 20px;
  border-radius: 16px;
  transition: 0.3s;
  border-top: 4px solid #8b0000 ;
  background-color: #111;
 cursor: pointer;
}

.one:hover,.two:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.activity a{
 color:white;
 font-size: 20px;
 text-decoration: none;
 font-weight:bold;
}
/* branches */
.branches {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.namebranch {
  margin-left: 50px;
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  color: gray;
}

.namebranch>h1 {
  text-transform: uppercase;
}

.buttonbranch {
  display: flex;
  column-gap: 50px;
}

.Bbutton {
  margin: 20px auto 0px;
  cursor: pointer;
  padding: 18px;
  background: rgba(255, 0, 0, 0.08);
  color: #fff;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
}

.Bbutton>a {
  text-decoration: none;
  color: gray;
  font-weight: bolder;
  font-size: 18px;
  transition: 0.3s;

}

.Bbutton:hover {
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
  transform: translateY(-2px);
}

footer {
  background: linear-gradient(to right, #8b0000, #000);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: bolder;
  font-size: 20px;
  color: gray;
  margin-top: 50px;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {

  .nav {
    width: 90%;
    margin: 2vh auto;
   
  }

  .hero {
    flex-direction: row;
    height: auto;
    text-align: center;
  }

  .right>img {
    height: 450px;
    top: 0;
    left: 0;
  }

  .box1 {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }

  .Wleft {
    width: 100%;
  }

  .Wright {
    font-size: 18px;
    padding: 20px;
  }

  .frame,
  .image {
    width: 700px;
  }

  .coach-section {
    height: auto;
    padding: 30px 0;
  }

  .photointro {
    flex-direction: column;
    gap: 30px;
  }

  .intro {
    width: 100%;
    height: auto;
  }

  .kslider-container,
  .kslider-frame {
    width: 100%;
  }

  .branches {
    gap: 40px;
  }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
   .frame{
    max-width:350px;
   }
   .kslide{
    height:50vh;
   }
  .join {
    margin-top: 25px;
    padding: 8px 22px 8px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #8b0000;
    color: white;
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 0px;
    padding: 8px 22px 8px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #8b0000;
    color: white;
  }

  .hero { 
    position:relative;
    height:50vh;
    padding-top:50px;
    flex-direction: row;
    /* image always right */
    gap: 20px;
  }

  .revflex {
    display: flex;
    flex-direction: column-reverse;
  }

  .left {
    width: 55%;
  }

  .right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
  }

  .right>img {
    height: 280px;
  }

  .nav {
    position:fixed;
    left:-5px;
    width:80%;
    margin: 5px 20px 0px;
    height:8vh;
    padding:10px;
  }

  .list {
    margin-top: 20px;
    display: none;
    position: absolute;
    top: 100px;
    width: 80%;
    height: 20vh;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    padding: 10px;
    border-radius: 16px;
  }

  #menuOpen {
    display: block;
    font-size: 28px;
    color: white;
  }

  #menuClose {
    font-size: 28px;
  }

  .list>li {
    margin-bottom: 30px;
  }
  .list>li>a:hover{
    background:#7a0000;
  }

  .hero {
    padding: 40px 20px;
  }

  .left>h1 {
    font-size: 24px;
  }

  .right>img {
    height: 300px;
  }

  .Sc {
    font-size: 22px;
  }
  .para {
    margin-top:2px;
  }

  .frame {
    margin: 0 10px;
  }

  .image {
    width: 100%;
  }

  .image {
    height: auto;
  }

  .Wleft>img {
    width: 260px;
  }
  .activity{
    padding-left:10px;
    padding-right:10px;
  }
  .branches {
    flex-direction: column;
    gap: 20px;
  }
  .buttonbranch {
    flex-direction: column;
    gap: 20px;
  }

  .Bbutton {
    width: 200px;
    text-align: center;
  }

  footer {
    flex-direction: column;
    row-gap: 5px;
    height: auto;
    padding: 20px;
    font-size: 16px;
  }

  .kslider-frame {
    height: auto;
  }
  .icon{
    display:flex;
   gap:30px;
  }
}

/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .left {
    width: 60%;
  }

  .revflex {
    display: flex;
    flex-direction: column-reverse;
  }

  .right {
    width: 40%;
  }

  .right>img {
    height: 220px;
  }

  .logo {
    width: 220px;
  }

  .list {

    flex-wrap: wrap;
    justify-content: center;
  }

  .left>h1 {
    font-size: 20px;
  }

  .para {
    font-size: 15px;
  }

  .Bbutton {
    padding: 10px 22px;
    font-size: 14px;
  }

  .karrow {
    font-size: 30px;
    padding: 6px 12px;
  }


}











